{% extends "itms/inquirycpe.html" %}
{% load staticfiles %}
{% block inquiryresult %}
{% if inquiry_cpe_result_list %}
	
	{% for cpe in inquiry_cpe_result_list %}
		
		<tr>
			<td class="tablelisttd1" >

                        <a class="inquiryresult_link" href="/itms/{{ cpe.cpe_id }}/thecpeinfo/{{revert}}/fill/">{{ cpe.sn }}</a>
				
			</td>
			<td class="tablelisttd2" >
				{{cpe.hardware_version}}
			</td>
			<td class="tablelisttd3" >
				{{cpe.software_version}}
			</td>
			<td class="tablelisttd4" >
				{{cpe.cwmp_version}}
			</td>
			<td class="tablelisttd5" >
				{{cpe.cpe_device_type}}
			</td>
			<td class="tablelisttd6" >
				{{cpe.cpe_operator}}
			</td>
			<td class="tablelisttd6" style="border-right: 1px solid #778899;" >
				{{cpe.time_last_contact}}
			</td>
		</tr>
	{% endfor %}
{% else %}
	<tr>
		<td colspan="7" style="font-size: 13px">
			未查找到相关信息
		</td>
	</tr>
{% endif %}
{% endblock %}

{% block divbottom %}
	
	{% if inquiry_cpe_result_list %}
		<tr>
			<td colspan='7'>
				
			</td>
		</tr>
		<tr>
			<td style="font-size:14px">
				共{{total_cpe}}条记录
			</td>
			<td colspan='3'>
				
			</td>
			<td colspan='3' style="font-size:14px">
				<span style="float:right">
					<label id="totalpage" style="width: 20px">共{{total_page}}页</label>
					<a id="a_firstpage" style="width: 20px" href="/itms/1*{{inquiry_type}}*{{input_sn}}/inquiryresult/"> 第一页</a>
					<a id="a_lastpage" style="width: 20px" href="/itms/{{last_page}}*{{inquiry_type}}*{{input_sn}}/inquiryresult/"> 上一页 </a>
					<label>第</label>
					<input id="inputpage" style="width:55px" type="text" name="inputpage" value="{{inquiry_page}}"/>
					<label>页</label>
					<a id="a_nextpage" style="width: 20px" href="/itms/{{next_page}}*{{inquiry_type}}*{{input_sn}}/inquiryresult/"> 下一页 </a>
					<input style="margin-left:20px;" type="submit" name="skippage" value="跳转" onclick="return checkUserInput()"/>
				</span>
			</td>
		</tr>
	{% endif %}
	
	<script>
		function setLinesBackgroundColor () {
			
			var temp_list_lines = document.getElementById("tableListBody").childNodes
			
			var list_lines = new Array()
			
			// 为兼容firefox浏览器，先将TR行挑出
			var tmp_num = 0
			for(var iLoop = 0; iLoop < temp_list_lines.length; iLoop ++)
			{
				
				var line = temp_list_lines[iLoop];
				if ( "TR" == line.nodeName  ) {
					list_lines[tmp_num] = line
					tmp_num = tmp_num + 1
				}
			}	
			
		    for(var iLoop = 0; iLoop < list_lines.length; iLoop ++)
			{
				
				var line = list_lines[iLoop];
				
				var tmp_line = iLoop + 1;
				if (tmp_line % 2 != 0 )
				{
					// 奇数行
					line.style.backgroundColor="#FFFFFF";
                    line.onmouseover = mouseoverFunction
					line.onmouseout = mouseoutOddFunction
				} else {
					// 偶数行
					line.style.backgroundColor="#F7F9FC";
					line.onmouseover = mouseoverFunction
					line.onmouseout = mouseoutEvenFunction
				}	
			}	
		}
		
		// 鼠标悬停时颜色
		function mouseover (line) {
			line.style.backgroundColor="#ECF4FE";
		}
		
		// 鼠标移出时奇数行颜色
		function mouseoutOdd (line) {
			line.style.backgroundColor="#FFFFFF";
		}
		
		// 鼠标移出时偶数行颜色
		function mouseoutEven (line) {
			line.style.backgroundColor="#F7F9FC";
		}
		
		function mouseoverFunction() 
		{ 
			mouseover(this); 
		}
		function mouseoutOddFunction() 
		{ 
			mouseoutOdd(this); 
		}
		function mouseoutEvenFunction() 
		{ 
			mouseoutEven(this); 
		}

		setLinesBackgroundColor()
	</script>
	
	<script type="text/javascript">
		
		var last_page = document.getElementById("a_lastpage")
		var next_page = document.getElementById("a_nextpage")
		var first_page = document.getElementById("a_firstpage")
		
		function disableLink(link) {
            //删除href属性,使其成为文本元素
            link.removeAttribute("href");
            //设置disabled属性
            link.setAttribute("disabled", "disabled");
        }

		var input_page = document.getElementById("inputpage")
		
		if ( input_page != null ) {
		
			var thepage = $("#inputpage").val()
			var re = /\d+/	
			var tmp_total_page = $("#totalpage").text()	
			var total_page = tmp_total_page.match(re)[0]
			
			if (thepage == "1") {
				disableLink(last_page)
				disableLink(first_page)
			}	
			if (thepage == total_page) {
				disableLink(next_page)
			}
		}

	</script>
	<script>
		function checkUserInput () {	
			var thepage = $("#inputpage").val()
			var num_total_page = parseInt(total_page)
			
			var num_thepage = parseInt(thepage); 
			
			if ( isNaN( num_thepage ) )
			
			{
			    alert('请输入有效的数字');
			    return false;
			}
			
			if( num_thepage > num_total_page  || num_thepage < 1) {
				
				alert("请输入正确的页码，即1到" + total_page + "之间的数字")
				return false
		    }
			
			return true
		}
	</script>
{% endblock %}